.loginContainer{
    box-shadow: 2px 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    width: min(600px,70vw);
    /* height: min(900px,70vh); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 40px 0;
    z-index: 1;
    background-color: white;
}

#imgDiv{
    width: 100px;
    height: 100px;
}
#loginImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
 h1{
    font-weight: 600;
}
#form{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
    width: min(400px,60vw);
}

.inputContainer{
    display: flex;
    padding: 20px;
    flex-direction: column;
    height: 25px;
}

label{
    font-size: 13px;
}
input,select{
    size: 25px;
    background-color: white;
    border: 1px solid rgb(159, 159, 159,0.8);
    border-radius: 5px;
    padding: 5px;
}
label{
    margin-bottom: 5px;
}
#CsizeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
}

.CsizeButton{
    font-size: 15px;
    margin: 5px;
    padding: 2px 3px;
    color: rgb(0, 0, 0,0.5);
    background-color: rgb(128, 128, 128,0.2);
    border: 0;
    border-radius: 2px;
}

#submitBtn{
    width: 90%;
    align-self: center;
    margin-top: 60px;
    height: 30px;
    font-weight: 600;
    background-color: #3766E8;
    color: white;
    border: 0;
    border-radius: 5px;
}